[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiogrpc = "*"
grpcio-tools = "*"
grpcio = "*"
googleapis-common-protos = "*"
requests = "*"


[dev-packages]

pytest = "*"
tox = "*"
coverage = "*"
pytest-cov = "*"
wheel = "*"
twine = "*"
